.dash{
    margin-left: 7%;
    margin-right: 2%;
}
.nor{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 5%;
    margin-bottom: 3%;
    
}
.bor{
    box-shadow: 4px 3px 2px 2px rgb(161, 6, 74); 
    padding: 14px;
    border-radius: 9px;
    margin-left: 3%;
    margin-block: -40px;
    width: 25%;
}
.bar{
    font-size: 24px;
    margin-bottom: 3%;
display: flex;
}
.piechart{
    margin-top: 5%;
    margin-inline: 100px;
    margin-bottom: 14%;
}